.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
}
.login-card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  width: 350px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.login-card label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #555;
}
.login-card input {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 14px;
}

.password-wrapper {
  position: relative;
  margin-bottom: 20px;
}
.btn-view {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-40%);
  background: none;
  border: none;
  color: #666;
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
}
.btn-view:hover {
  color: #000;
}

.btn-primary {
  width: 100%;
  background: #222;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}
