.sidebar {
  width: 250px;
  background: var(--bg-dark);
  color: #888;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.sidebar h3 {
  color: white;
  margin-bottom: 40px;
}
.nav-item {
  padding: 12px;
  cursor: pointer;
  transition: 0.2s;
}
.nav-item:hover,
.nav-item.active {
  color: white;
}
.sub-nav {
  padding-left: 30px;
  font-size: 0.9em;
  margin-bottom: 10px;
  cursor: pointer;
  color: #666;
}
.sub-nav:hover {
  color: #fff;
}
.badge {
  background: #555;
  padding: 2px 6px;
  border-radius: 10px;
  font-size: 0.8em;
  float: right;
}

.logout {
  margin-top: auto;
  padding: 12px;
  cursor: pointer;
  color: #e53935;
  font-weight: bold;
}
.logout:hover {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}
